<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cleanapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".OwnerTaskHistory"></activity>
        <activity
            android:name=".OwnerHouseActivityTab"
            android:label="@string/title_activity_house_tab"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".Fragment.TenantHomeFragment" />
        <activity
            android:name=".RoomDetailModal"
            android:theme="@style/AppTheme.Popme" />
        <activity android:name=".OwnerHouseInvitationActivity" />
        <activity android:name=".Fragment.TenantListFragment" />
        <activity android:name=".SetuserlvlActivity" />
        <activity android:name=".OwnerAddHouseActivity" />
        <activity android:name=".OwnerMainActivity" />
        <activity android:name=".RoomDetailModal$TenantMainActivity" />
        <activity android:name=".Fragment.OwnerRoomDetailFragment" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>